# 1.0.0 Cleaning data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import plotly.express as px
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

from utils.paths2 import direcciones_cursos

G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones_cursos('italian')

# Project Italian

In [4]:
df = pd.read_csv(G_raw/'byke_train.csv', encoding='latin-1')

df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.columns = map(str.lower, df.columns)
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(' ', '_')

df.rename(columns={'velocidadviento':'wind_speed', 
                   'humedad':'humidity',
                   'temperatura':'temperature',
                   'diafestivo':'holiday',
                   'diasemana':'week_day',
                   'dianolaborable':'non_working_day',
                   'estacion':'season',
                   'clima':'weather',
                   'fecha':'date',
                   'ano':'year',
                   'mes':'month',
                   'hora':'time',
                   'total':'total',
                   }, inplace=True)

df['holiday'] = df['holiday'].astype(str)
df['week_day'] = df['week_day'].astype(str)
df['non_working_day'] = df['non_working_day'].astype(str)
df['season'] = df['season'].astype(str)
df['weather'] = df['weather'].astype(str)
df['year'] = df['year'].astype(str)
df['month'] = df['month'].astype(str)
df['time'] = df['time'].astype(str)

df['date'] =  pd.to_datetime(df['date'])

df.head()

,wind_speed,humidity,temperature,holiday,week_day,non_working_day,season,weather,date,year,month,time,total
0,0.0,0.81,0.24,0,6,0,1,1,2011-01-01,0,1,0,18
1,0.0,0.80,0.22,0,6,0,1,1,2011-01-01,0,1,1,45
2,0.0,0.80,0.22,0,6,0,1,1,2011-01-01,0,1,2,37
3,0.0,0.75,0.24,0,6,0,1,1,2011-01-01,0,1,3,18
4,0.0,0.75,0.24,0,6,0,1,1,2011-01-01,0,1,4,5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13905 entries, 0 to 13904
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   wind_speed       13905 non-null  float64
 1   humidity         13905 non-null  float64
 2   temperature      13905 non-null  float64
 3   holiday          13905 non-null  object
 4   week_day         13905 non-null  object
 5   non_working_day  13905 non-null  object
 6   season           13905 non-null  object
 7   weather          13905 non-null  object
 8   date             13905 non-null  datetime64[ns]
 9   year             13905 non-null  object
 10  month            13905 non-null  object
 11  time             13905 non-null  object
 12  total            13905 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(8)
memory usage: 1.4+ MB

In [6]:
# save
df.to_csv(G_processed/'df.csv', encoding = 'utf-8-sig', index = False)
df.to_parquet(G_processed/'df.parquet.gzip', compression='gzip')

In [7]:
print('ok_')

ok_