# 1.0.0 Cleaning data

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import plotly.express as px
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [4]:
import sys
sys.path.append("../") 

from utils.paths2 import direcciones_cursos

G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones_cursos('italian')

# Project Italian

In [5]:
df = pd.read_csv(G_raw/'byke_train.csv', encoding='latin-1')

df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.columns = map(str.lower, df.columns)
df.columns = df.columns.str.strip()
df.columns = df.columns.str.replace(' ', '_')

df.rename(columns={'velocidadviento':'velocidad_viento', 
                   'diafestivo':'dia_feriado',
                   'diasemana':'week_day',
                   'dianolaborable':'dia_no_laborable'
                   }, inplace=True)

df['dia_feriado'] = df['dia_feriado'].astype(str)
df['week_day'] = df['week_day'].astype(str)
df['dia_no_laborable'] = df['dia_no_laborable'].astype(str)
df['estacion'] = df['estacion'].astype(str)
df['clima'] = df['clima'].astype(str)
df['ano'] = df['ano'].astype(str)
df['mes'] = df['mes'].astype(str)
df['hora'] = df['hora'].astype(str)

df['fecha'] =  pd.to_datetime(df['fecha'])

df.head()

,velocidadviento,humedad,temperatura,diafestivo,diasemana,dianolaborable,estacion,clima,fecha,ano,mes,hora,total
0,0.0,0.81,0.24,0,6,0,1,1,2011-01-01,0,1,0,18
1,0.0,0.80,0.22,0,6,0,1,1,2011-01-01,0,1,1,45
2,0.0,0.80,0.22,0,6,0,1,1,2011-01-01,0,1,2,37
3,0.0,0.75,0.24,0,6,0,1,1,2011-01-01,0,1,3,18
4,0.0,0.75,0.24,0,6,0,1,1,2011-01-01,0,1,4,5

In [7]:
df['clima'].unique()

array([1, 2, 3, 4], dtype=int64)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13905 entries, 0 to 13904
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VelocidadViento  13905 non-null  float64
 1   Humedad          13905 non-null  float64
 2   Temperatura      13905 non-null  float64
 3   DíaFestivo       13905 non-null  int64
 4   DíaSemana        13905 non-null  int64
 5   DíaNoLaborable   13905 non-null  int64
 6   Estación         13905 non-null  int64
 7   Clima            13905 non-null  int64
 8   Fecha            13905 non-null  datetime64[ns]
 9   Año              13905 non-null  int64
 10  Mes              13905 non-null  int64
 11  Hora             13905 non-null  int64
 12  Total            13905 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(9)
memory usage: 1.4 MB

In [5]:
df.shape

(13905, 13)

In [6]:
# print a concise summary of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13905 entries, 0 to 13904
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VelocidadViento  13905 non-null  float64
 1   Humedad          13905 non-null  float64
 2   Temperatura      13905 non-null  float64
 3   DíaFestivo       13905 non-null  int64
 4   DíaSemana        13905 non-null  int64
 5   DíaNoLaborable   13905 non-null  int64
 6   Estación         13905 non-null  int64
 7   Clima            13905 non-null  int64
 8   Fecha            13905 non-null  datetime64[ns]
 9   Año              13905 non-null  int64
 10  Mes              13905 non-null  int64
 11  Hora             13905 non-null  int64
 12  Total            13905 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(9)
memory usage: 1.4 MB

In [7]:
print('ok_')

ok_